body{
    background-color: aqua;
    border: 4px;
    border-style: dashed;
    border-color: lawngreen;
}
h1{
    text-decoration: underline;
}
h2{
    text-align: center;
    text-shadow: gray 30px 20 px;
}
nav{
    border: 2px;
    border-color: greenyellow;
    border-style: solid;
}
img{
    box-shadow: 5px 5px 5px grey;
    margin: 4rem;
    border: 2px;
    border-style: ridge;
    border-color: brown;

}
#menu{
    border-color: black;
    border-style: solid;
    text-align: center;
}
th,td{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
tr:hover{
    background-color: gray;
}
h3{
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 30px;
    text-shadow: 5px gray;
}
.list{
    padding-left: 20px;
}
#drinks{
    border-style: solid;
    border-color: greenyellow;
}
li{
    border-bottom: 1px dotted darkkhaki;
}
#contact{
    padding-left: 30px;
}